// 
// user-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

// Example of a variable override to change Dashkit's background color
// Remove the "//" to comment it in and see it in action!
// $body-bg: #12263F;


// ---- BASE COLORS ----

$custom--dark__blue:  #0B2056;
$custom--deep__blue:  #102F7C;
$custom--blue:  #1643B3;
$custom--light__blue:  #D2DDF9;
$custom--ultralight__blue:  #EDF1FD;

$custom--yellow:  #FAEFD1;
$custom--orange:  #E76222;

$custom--dark__black: #2c2c2c;
$custom--dark__grey:#5e5e5e;
$custom--grey:#919191;
$custom--light__grey:#C4C4C4;
$custom--ultralight__grey:#f0f0f0;

$custom--white: #fafafa;


// ---- POJET COLORS ----
$shiseido-red:#D32B2A;
$shiseido-pink:rgba(225, 29, 29, .75);

$auchan-green: rgba(2,131,67, .75);

$equivalenza-yellow: rgba(230, 217, 159, 1);
$equivalenza-brown:rgba(176, 168, 148, 1);

$spotify-green:#1DB954;

$huby-blue:#1AADA3;



// ---- FONTS ----
$font-family-sans-serif: 'Montserrat', sans-serif !default;
$font-size-base: 1rem !default;


// ---- GENERAL ----
$h4-font-size: 1em !default;
$h5-font-size: 0.8125rem !default;
$h6-font-size: 0.625rem !default;

// ---- HOME ----
$h1-home-font-size: 3.998em !default;
$h2-home-font-size: 1.999em !default;

// ---- PROJET ----
$h1-font-size: 2.827em !default;
$h2-font-size: 3.625em !default;
$h3-font-size: 1.414em !default;


// ---- BORDER RADIUS ----
$border-radius: 0.2rem !default;
$border-radius-lg: 0.2rem !default;
$border-radius-sm: 0.2rem !default;

// ---- BOX SHADOW ----
$card-box-shadow: 0px 2px 10px 0px rgba(92, 117, 154, 0.1);
$custom-box-shadow: 0px 2px 10px 0px rgba(19, 56, 149, 0.1);
$custom-box-shadow-hover: 0px 7px 17px 0px rgba(19, 56, 149, 0.2);

// ---- MARGIN ----

// 1199
// 991
// 767
// 575
