// 
// user.scss
// Use this to write your custom SCSS
///////////HOME//////////////
body{
	&.overflowed{
		overflow: hidden;
	}
}
.text-muted{
	color: $custom--black !important;
	opacity: .8;
}
.badge-soft-secondary{
	background-color: $custom--black !important;
	color: #fafafa !important;
}
h3.card-title{
	font-weight: bold;
}
.nav-tabs .nav-link:not(.active){
	color: $custom--black !important;
	opacity: .6;
}
.nav-tabs .nav-link:not(.active):hover{
	color: $custom--black !important;
	opacity: 1;
}
.custom-burger-container{
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100vh;
	background-color: $custom--white;
	z-index: 40;
	transition: all ease-in-out 185ms;
	
	&.active{
		left: 0;
	}
	ul{
		position: absolute;
		padding: 0;
		margin: 0 auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		li{
			padding: 5px 0;
			margin-bottom: 0 !important;
			list-style: none;

			a{
				display: block;
				padding:10px 0;
				font-size: 1.5rem;
				color:$custom--black;
				font-weight: bold;
			}
		}
	}
}

header{
	position: fixed;
	width: 100%;
	background-color: rgba(255,255,255, .7);
	z-index: 50;

	&.active{
		background-color: transparent;
	}
	nav{
	  	text-transform: uppercase;
	  	font-weight: bold;
	  	width: 80%;
	  	padding: 10px 0;
	  	margin: 0 auto;
	  	ul{
	  		padding-left: 0;
	    	list-style: none;
	    	display: -webkit-flex;
	    	display: -moz-flex;
	    	display: -ms-flex;
	    	display: -o-flex;
	    	display: flex;
	    	justify-content: flex-end;
	    	margin-bottom: 0;
	    	li{
	    	  	margin: 0 0 0 30px !important;
	    	  	a{
	    	  		position: relative;
  					padding: 10px 0;
  					color: $custom--black;
  					display: block;
  					text-decoration: none;

	    	  	  	&:before{
	    	  	  	  content:"";
	    	  	  	  position: absolute;
	    	  	  	  width: 0;
	    	  	  	  height: 3px;
	    	  	  	  background-color: $custom--black;
	    	  	  	  bottom: -1px;
	    	  	  	  left: 0;
	    	  	  	  transition: all ease-in-out 185ms;
	    	  	  	}
	    	  	  	&:hover{
	    	  	  	  color:$custom--black;
	    	  	  	  text-decoration: none;
	    	  	  	  	&:before{
	    	  	  	  	  width: 100%;
	    	  	  	  	}
	    	  	  	}
	    	  	}
	    	}
	  	}
	}
	@media screen and (max-width: 767px) {
		width: auto;
		padding: 7px 3px;
		right:10px;
		top:10px;

		.custom-burger{
			cursor: pointer;

			.bar {
			  width: 30px;
			  height: 4px;
			  background-color: $custom--black;
			  margin: 3px;
			  transition: 0.4s;	
			}
			&.change{
				.bar1{
					-webkit-transform: rotate(-45deg) translate(-5px, 5px);
				  	transform: rotate(-45deg) translate(-5px, 5px);
				}
				  
				.bar2{
					opacity: 0;		  	
				}
				.bar3{
					-webkit-transform: rotate(45deg) translate(-5px, -5px);
				  	transform: rotate(45deg) translate(-5px, -5px);			  	
				}
			}
		}
	}
}

a{
	&.back-to-projet{
		position: relative;
		display: block;
		width: 240px;
		text-align: center;
		padding: 10px;
		color: $custom--black;
		font-weight: bold;
		margin: 100px auto 50px;

		&:before{
	      	content:"";
	      	position: absolute;
	      	width: 0;
	      	height: 3px;
	      	background-color: $custom--black;
	      	bottom: -1px;
	      	left: -7px;
	      	transition: all ease-in-out 185ms;
	    }
		&:after{
	      	content:"⇤";
	      	position: absolute;
	      	width: 30px;
    		height: 30px;
    		font-size: 28px;
    		bottom: 13px;
    		left: -5px;
	      	transition: all ease-in-out 185ms;
	    }
	    &:hover{
	      	color:$custom--black;
	      	text-decoration: none;
	      	&:before{
	      	  	width: 92%;
	      	}
	      	&:after{
				left: -10px;
	      	}
	    }
	    @media screen and (max-width: 768px) {
	    	margin: 70px auto 30px;
	    }
	}
}
///////////// HOME ///////////
.content-home{
	    color: $custom--black;
	a{
  		position: relative;
  		padding: 10px 0;
  		color: $custom--black;
  		display: block;
  		text-decoration: none;


  		 &.btn-more{
			position: relative;
			padding: 8px 0;
			margin: 30px auto 10px auto;
			max-width: 200px;
			width: 100%;
			text-align: center;
			font-weight: normal;
			border:solid 1px $custom--black__opa;
			border-radius: 0;
			text-decoration: none;
			transition: all ease-in-out 185ms;
			overflow: hidden;
			z-index: 20;

			&:before{
			  content:'';
			  position: absolute;
			  width: 100%;
			  height: 100%;
			  top: 0;
			  left: -100%;
			  background-color: $custom--black;
			  transition: all ease-in-out 185ms;
			  z-index: -1;
			}
			&:hover{
			    color:$white;
			    font-weight: normal;
			    &:before{
			      left: 0;
			    }
			}
		}
		&.linkedin{
			padding: 0;
		}
		&.card-banner-click{
			padding: 0;
		}
	}

	.top_container{
	  width: 100%;
	  height: 100vh;
	  position: relative;
	  background: #f4f4f4 url("../img/home/bg-portfolio.jpg") no-repeat top center;
	  -webkit-background-size: cover;
	  background-size: cover;
	}
	section{
	  margin: 50px auto;
	
	  h1{
	    font-size: 4rem;
	    font-weight: bold;
	    line-height: 4rem;
	    em{
	      display: block;
	      font-size: 2rem;
	      font-style: normal;
	      font-weight: normal;
	      line-height: 2rem;
	      opacity: 0.8;
	    }
	  }
	  h2{
	    margin-bottom: 50px;
	    font-size: 2rem;
	    font-weight: 700;
	    text-align: center;
	  }
	  &.section-1{
	    position: absolute;
	    padding-left: 10%;
	    top: 40%;
	    transform: translateY(-40%);
	    p{
	      margin-top: 50px;
	      font-size: 1.5rem;
	      line-height: 2rem;      
	    }
	  }
	}

@media screen and (max-width: 900px) {
  section{
    &.section-1{
      top: 40%;
      transform: translateY(-40%);
      h1{
        font-size: 3rem;
        line-height: 3rem;
        em{
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
      }
      p{
        margin-top: 50px;
        font-size: 1.2rem;
        line-height: 1.5rem;      
      }
    }
  }

}
@media screen and (max-width: 768px) {
  .top_container{
    -ms-background-position-x: 40%;
    background-position-x: 40%;
  }
}
@media screen and (max-width: 575px) {
 		.top_container{
 		  background-size: auto;
 		  background-position-x: 60%;
 		  background-position-y: 10%;
 		}
 		section{
 		  &.section-1{
 		    top: 30%;
 		    transform: translateY(-30%);
 		    p{
 		      margin-top: 35px;
 		      font-size: 1rem;
 		      line-height: 1.2rem;
 		      font-weight: 500;   
 		    }
 		  }
 		}
	}
	footer{
		a{
			width: 40px;
			margin: 0 auto;
			transition: all ease-in-out 185ms;
			img{
				border:solid 1px transparent;
				transition: all ease-in-out 185ms;
			svg{
				width: 100%;
			}
		}
			&:hover{
				background: $custom--black;
				img{
					border-color:#fafafa;
					filter: invert(1);
				}
			}
		}
	}
	.container--about{
		.about-service{
			margin-top: 50px;
			display: flex;
			justify-content: space-around;
			.service-content{
				.service-content-title{
					font-weight: bold;
					margin-bottom: 15px;
				}
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;
					}
				}
				@media screen and (max-width: 768px) {
					margin-bottom: 20px;
				}
			}
			@media screen and (max-width: 768px) {
				flex-direction: column;
			}
		}
	}
	.icon-scroll{
	  	position: absolute;
	  	left: 50%;
	  	bottom: 30px;
	  	transform: translateX(50%);
	  	width: 35px;
	  	height: 60px;
	  	margin-left: -20px;
	  	margin-top: -35px;
	  	border: solid 1px $custom--black;
	  	border-radius: 25px;
	}
	.icon-scroll:before{
		content: '';
		position: absolute;
		left: 50%;
		width: 8px;
		height: 8px;
		background: $custom--black;
		margin-left: -4px;
		top: 8px;
		border-radius: 4px;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-name: scrollanimation;
	}
	@keyframes scrollanimation{
		from{
			// opacity: 1;
		}
		to{
	    	// opacity: 0;
	    	transform: translateY(30px);
		}
	}
}
////////////END HOME//////////



///////////CASE STUDY/////////

.content-case-study{
	.container-fluid{
		padding: 0;
	}


	// SHISEIDO
	&.content-case-study--shiseido{
		h1,h2{
			color: $shiseido-pink;
		}
		.card-body--origin{
			figure{
				&:first-child{
					img{
						max-width:200px;
					}
				}
			}
		}
		.spec-project{
			.spec-project-item{
				.card-title{
					color: $shiseido-pink;

					&:before{
						content: "";
						position: absolute;
						width: 2px;
						height: 100%;
						top: 0;
						background: $shiseido-pink;
						left: -7px;
						opacity: .7;
		
						@media screen and (max-width: 991px) {
							display: none;
						}
						@media screen and (max-width: 575px) {
							display: block;
						}
					}
				}
			}
		}
		.img-holder{
			height: 100%;
			&.img-holder--1{
				background: #F9FBFD url("../img/to-web/shiseido/livrable-001.jpg") no-repeat top center;
				background-size: cover;
			}
			&.img-holder--2{
				flex-basis: 100%;
				height: 50%;
				background: #F9FBFD url("../img/to-web/shiseido/livrable-02.jpg") no-repeat top center;
				background-size: cover;
			}
			&.img-holder--3{
				flex-basis: 50%;
				height: 50%;
				background: #F9FBFD url("../img/to-web/shiseido/livrable-03.jpg") no-repeat center;
				background-size: cover;
			}
			&.img-holder--4{
				flex-basis: 50%;
				height: 50%;
				background: #F9FBFD url("../img/to-web/shiseido/shiseido-vid.gif") no-repeat center;
				background-size: cover;
			}
		}
	}

	// AUCHAN
	&.content-case-study--auchan{
		h1,h2{
			color: $auchan-green;
		}
		.spec-project{
			.spec-project-item{
				.card-title{
					color: $auchan-green;
					&:before{
						content: "";
						position: absolute;
						width: 2px;
						height: 100%;
						top: 0;
						background: $auchan-green;
						left: -7px;
						opacity: .7;
		
						@media screen and (max-width: 991px) {
							display: none;
						}
						@media screen and (max-width: 575px) {
							display: block;
						}
					}
				}
			}
		}
		.bloc--fluid__livrable{
			.img-holder{
				height: 100%;
				&.img-holder--1{
					background: #218467 url("../img/to-web/auchan/livrable-01.jpg") no-repeat top center;
					background-size: cover;
				}
				&.img-holder--3{
					flex-basis: 50%;
					height: 100%;
					background: #218467 url("../img/to-web/auchan/livrable-03.jpg") no-repeat center;
					background-size: 200%;
				}
				&.img-holder--4{
					flex-basis: 50%;
					height: 100%;
					background: #218467 url("../img/to-web/auchan/livrable-04.jpg") no-repeat center;
					background-size: 200%;
				}
			}
		}
	}
	#bkbtn{

		display: none;

		svg{
			position: relative;
			width: 27px;
			height: 27px;
			top: 5px;
			path{
				fill:$custom--white;
				transition: all ease-in-out 185ms;
			}
		}

		&.show{
			display: inline-block;
  			background-color: $custom--black;
  			width: 40px;
  			height: 40px;
  			text-align: center;
  			position: fixed;
  			bottom: 30px;
  			right: 50px;
  			border: solid 1px $custom--black;
  			transition: 185ms;
  			z-index: 1000;
  			cursor: pointer;

  			@media screen and (max-width: 767px) {
				right: 10px;
  			}
  		}

		
  		&:hover{
  			background-color: $custom--white;
  			svg{
  				path{
  					fill: $custom--black;
  				}
  			}
  		}
	}
	h1{
		margin-bottom: 0;
		@media screen and (max-width: 767px) {
			font-size: 2.4rem;
		}
	}
	.academic{
		margin-bottom: 30px;
		font-size: 0.8em;
		font-weight: 500;
		a{
			color: $black;
			text-decoration: underline;
		}
	}
	.spec-project{
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
		position: relative;

		@media screen and (max-width: 575px) {
			flex-wrap: wrap;
			justify-content: flex-start;
		}
		.spec-project-item{
			position: relative;
			left: 7px;
			flex-basis: 20%;
			@media screen and (max-width: 991px) {
				flex-basis: auto;
			}
			@media screen and (max-width: 575px) {
				flex-basis: calc(100% / 3);
				margin: 10px 0;
			}
			.card-title{
				font-size: 0.9375rem !important;
				font-weight: 500;
			}
		}
	}

	section{
		margin: 70px auto;
		@media screen and (max-width: 767px) {
			margin: 50px auto;
		}
		&.after-fluid{
			h2{
				margin-top: 10px;
			}
		}
		&#livrable{
			h2{
				margin-top: 50px;
				@media screen and (max-width: 767px) {
					margin-top: 0px;
				}
			}
			margin-bottom: 10px;
		}
		&#apprentissage{
			h2{
				@media screen and (max-width: 767px) {
					margin-top: 30px;
				}
			}
		}
		&.section--fluid{
			margin: 130px auto;
			background-color: rgba(0,0,0, .45);
			color: $custom--white;
			box-shadow: 0px 5px 11px 3px rgba(0, 0, 0, 0.3);

			&.section--fluid--shiseido{
				background-color: rgba(0,0,0, .45);
				color: $custom--white;
			}
			&.section--fluid--auchan{
				background-color: rgba(2,131,67, .45);
				color: $custom--white;
			}

			@media screen and (max-width: 767px) {
				margin: 70px auto;
			}

			&.section--fluid__proto{
				padding: 50px 0;
				-webkit-background-size: cover;
				background-size: cover;
				color: #000;
				box-shadow: none;
				.text-holder{
					position: relative;
					left: -42px;
					padding: 70px 30px;
					background-color: #F9FBFD;
					h2{
						margin-top: 0;
					}
					p{
						margin-bottom: 0;
					}
					@media screen and (max-width: 767px) {
						padding: 0;
						margin-bottom: 20px;
						left: 0;
					}
				}
				@media screen and (max-width: 768px) {
					padding: 10px;
				}
				@media screen and (max-width: 575px) {
					padding: 0;
				}
					&.section--fluid__proto-shiseido{
						background: #F9FBFD url("../img/to-web/shiseido/isometric-flow.jpg") no-repeat top center fixed;
						@media screen and (max-width: 768px) {
							background: none;
						}
					}
					&.section--fluid__proto-auchan{
						background: #F9FBFD url("../img/to-web/auchan/proto-auchan.jpg") no-repeat top center fixed;
						@media screen and (max-width: 768px) {
							background: none;
						}
					}
			}
			&.section--fluid__livrable{
				height: 550px;
				display: flex;
				background: #F9FBFD;
				margin-top: 0;
				@media screen and (max-width: 659px) {
					margin-bottom: 50px;
					height: 350px;
				}
				.bloc--fluid__livrable{
					height: 100%;
					&:first-child{
						flex-basis: 60%;
					}
					&:last-child{
						flex-basis: 40%;
						display: flex;
						flex-wrap: wrap;
					}
				}
			}
		}
		.benchmark-logo{
			display: flex;
			justify-content: space-between;
			div{
				padding:20px 20px 0 20px;
			}
			@media screen and (max-width: 767px) {
				flex-wrap: wrap;
			}
			@media screen and (max-width: 499px) {
				justify-content: center;
			}
		}
		.retour-itw{
			display: flex;
			justify-content: space-between;
			div{
				padding:20px 20px 0 20px;
			}
			@media screen and (max-width: 767px) {
				flex-wrap: wrap;
			}
		}
		.correction-picture{
			margin:20px auto;
			display: flex;
			justify-content: space-around;
			img{
				width: 100%;
			}
			@media screen and (max-width: 575px) {
				flex-wrap: wrap;
			}
		}
		.correction-text{
			margin-bottom: 50px;
			@media screen and (max-width: 575px) {
				margin-bottom: 20px;
			}
		}
	}
	.header{
		margin-bottom: 3rem;
		img{
			max-width: none;
		}
	}
	.header-body{
		padding-top: 1.2rem;
			
		.header-tabs{
			justify-content: flex-end;
			.nav-link{
				padding-top: 1rem;
				padding-bottom: 1rem;
			}
		}
	}
	h2{
		margin-top: 50px;
		@media screen and (max-width: 767px) {
			margin-top: 10px;
		}
	}
	ul{
		margin-left: 0;
		padding: 0;
		li{
			margin: 0 auto 10px;
			list-style: none;
		}
	}
	.card{
		background-color: transparent;
		box-shadow: 0px 5px 11px 3px rgba(0, 0, 0, 0.03);
	}

	.cs-title{
		font-size: 1.0625rem;
		font-weight: bold;
	}
	img{
		display: block;
		margin: 0 auto;
		max-width: 600px;

		&.cbs{
			box-shadow: $custom-box-shadow;
		}
		&.fw{
			width: 100%;
		}
		&.siz-auto-sm{
			@media screen and (max-width: 767px) {
				margin-top: 10px;
				width: auto;
			}
		}
		&.siz-full-lg{
			@media screen and (max-width: 992px) {
				width: 100%;
			}
			@media screen and (max-width: 575px) {
				width: auto;
			}
		}

	}
	figcaption{
		font-style: italic;
		text-align: center;
		font-size: 0.8rem;
		margin-top: 10px;
		font-weight: 600;
	}
	p{
		&.feedback{
			margin-top: 70px;
			@media screen and (max-width: 767px) {
				margin-top: 20px;
			}
		}
	}
	
	.link-figma{
		position: relative;
		top: 20px;
		color: $custom--black;
		font-weight: 600;
		@media screen and (max-width: 767px) {
			top: 10px;
		}
		&.link-figma--shiseido{
			color: $shiseido-pink;
		}
		&.link-figma--auchan{
			color: $auchan-green;
		}
	}
	

}

		

