<a id="bkbtn"></a>
<div class="custom-burger-container d-md-none">
  <ul>
    <li><a href="index.html">Accueil</a></li>
    <li><a href="index.html#projet">Projets</a></li>
    <li><a href="index.html#about">À Propos</a></li>
  </ul>
</div>
<div class="header">
<header>
  <nav class="d-none d-md-block">
    <ul>
      <li><a href="index.html#projet">Projets</a></li>
      <li><a href="index.html#about">À Propos</a></li>
    </ul>
  </nav>
  <span class="custom-burger d-md-none">
    <div class="bar bar1"></div>
    <div class="bar bar2"></div>
    <div class="bar bar3"></div>
  </span>
</header>